head
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title i18n demo-test

body
  a(href='https://github.com/VeliovGroup/Meteor-Internationalization')
    img.gh-ribbon(src='https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67' alt='Fork me on GitHub' data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png')
  .container-fluid: .row: .col-md-12
    header: h1 {{i18n 'main.heading'}}
    hr
    +demo

template(name="demo")
  each i18nSettings 'all'
    if compare code 'is' currentLocale
      span.switch-language.disabled(title="Current language") #{name}
      | &nbsp;
    else
      a.switch-language(href="#" data-code="{{code}}") #{name}
      | &nbsp;
  hr
  table.table.table-bordered.table-striped
    thead
      tr
        th Result
        th Expected
        th Code
    tbody
      tr
        td: p {{i18n 'main.text.one'}}
        td 
          p
            strong EN:
            span Sample text without placeholders
          p
            strong RU:
            span Демо-текст без плейс-холдеров
        td
          +markdown
            ```
            i18n 'main.text.one'
            ```
      tr
        td: p {{i18n 'main.text.two' samplePlaceholder}}
        td 
          p
            strong EN:
            span Sample text with one placeholder: "{{samplePlaceholder}}"
          p
            strong RU:
            span Демо-текст с одним плейс-холдером: "{{samplePlaceholder}}"
        td
          +markdown
            ```
            i18n 'main.text.two' samplePlaceholder
            ```

      tr
        td: p {{{i18n 'main.text.three' samplePlaceholder}}}
        td 
          p
            strong EN:
            span Sample text with one placeholder + html <strong>strong</strong> tag: "<strong>{{samplePlaceholder}}</strong>"
          p
            strong RU:
            span Демо-текст с одним плейс-холдером + html <strong>strong</strong> тег: "<strong>{{samplePlaceholder}}</strong>"
        td
          +markdown
            ```
            i18n 'main.text.three' samplePlaceholder
            ```

      tr
        td: p {{i18n 'main.text.four' 'One' 'Two' 'Three'}}
        td 
          p
            strong EN:
            span Sample text with multiple placeholders. First: "One". Second: "Two". Third: "Three"
          p
            strong RU:
            span Демо-текст с множеством плейс-холдеров. Первый: "One". Второй: "Two". Третий: "Three"
        td
          +markdown
            ```
            i18n 'main.text.four' 'One' 'Two' 'Three'
            ```
      tr
        td: p {{i18n 'main.text.four' second='Two' third='Three' first='One'}}
        td 
          p
            strong EN:
            span Sample text with multiple placeholders. First: "One". Second: "Two". Third: "Three"
          p
            strong RU:
            span Демо-текст с множеством плейс-холдеров. Первый: "One". Второй: "Two". Третий: "Three"
        td
          +markdown
            ```
            i18n 'main.text.four' second='Two' third='Three' first='One'
            ```

      tr
        td: p {{i18n 'main.text.four' demoObj}}
        td 
          p
            strong EN:
            span Sample text with multiple placeholders. First: "{{demoObj.first}}". Second: "{{demoObj.second}}". Third: "{{demoObj.third}}"
          p
            strong RU:
            span Демо-текст с множеством плейс-холдеров. Первый: "{{demoObj.first}}". Второй: "{{demoObj.second}}". Третий: "{{demoObj.third}}"
        td
          +markdown
            ```
            i18n 'main.text.four' demoObj
            ```

      tr
        td: p {{i18n 'main.non-existent-key'}}
        td 
          p: code 'main.non-existent-key'
        td
          +markdown
            ```
            i18n 'main.non-existent-key'
            ```

      tr
        td: p {{i18n 'main.non-existent-key' 'One' 'Two' 'Three'}}
        td 
          p: code 'main.non-existent-key'
        td
          +markdown
            ```
            i18n 'main.non-existent-key' 'One' 'Two' 'Three'
            ```

      tr
        td: p {{i18n 'en' 'main.text.four' demoObj}}
        td 
          p
            strong Constraint EN:
            span Sample text with multiple placeholders. First: "{{demoObj.first}}". Second: "{{demoObj.second}}". Third: "{{demoObj.third}}"
        td
          +markdown
            ```
            i18n 'en' 'main.text.four' demoObj
            ```

      tr
        td: p {{i18n 'ru' 'main.text.four' demoObj}}
        td 
          p
            strong Constraint RU:
            span Демо-текст с множеством плейс-холдеров. Первый: "{{demoObj.first}}". Второй: "{{demoObj.second}}". Третий: "{{demoObj.third}}"
        td
          +markdown
            ```
            i18n 'ru' 'main.text.four' demoObj
            ```

